/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Filter Products 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.FilterProducts {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1200px) {
  .FilterProducts {
    flex-direction: column;
  }
}
.FilterProducts .Filter {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}
.FilterProducts .Filter .SelectELEMENT {
  position: relative;
  min-width: 200px;
  max-width: 100%;
  width: 100%;
}

.FilterProducts .Filter .SelectELEMENT .StarRateFilter {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3px;
}
.FilterProducts .Filter .SelectELEMENT .CategoryFilter {
  position: relative;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 400;
}
.FilterProducts .Filter .SelectELEMENT .StarRateFilter i {
  color: #ccc;
  padding: 5px 0;
}
.FilterProducts .Filter .SelectELEMENT .StarRateFilter i.active {
  color: orange;
}
.FilterProducts .Filter .input-box {
  position: relative;
  height: 100%;
  background-color: transparent;
}
.FilterProducts .Filter .input-box input {
  position: relative;
  background-color: transparent;
  border: 0;
  padding: 10px;
  height: 36px;
  border-radius: 0.2em;
  width: 100%;
  border: 1px solid #ccc;
  transition: var(--main-transition);
}
.FilterProducts .Filter .input-box input:focus {
  outline: 0;
  border: 1px solid var(--blue-color);
}
.FilterProducts .Filter .input-box input::placeholder {
  transition: var(--main-transition);
}
.FilterProducts .Filter .input-box input:focus::placeholder {
  opacity: 0;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Filter Products action
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/

.FilterProducts .action {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
}

.FilterProducts .action input {
  position: relative;
  width: 200px;
  padding: 4px 15px;
  border-radius: calc(var(--main-border-radius) * 3);
  border: 2px solid #eee;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  height: 40px;
  transition: var(--main-transition);
}
@media (max-width: 1200px) {
  .FilterProducts .action {
    width: 100%;
  }
  .FilterProducts .action input {
    width: 100%;
  }
}
.FilterProducts .action input:focus {
  outline: 0;
  border: 2px solid var(--blue-color);
  border-right: 0;
}
.FilterProducts .action input:focus::placeholder {
  opacity: 0;
  transition: var(--main-transition);
}
.FilterProducts .action input::placeholder {
  color: var(--white-alt-2);
}
.FilterProducts .action button {
  position: relative;
  height: 40px;
  padding: 4px 15px;
  border-radius: calc(var(--main-border-radius) * 3);
  border: 0;
  cursor: pointer;
  border: 2px solid #eee;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: var(--main-color);
  transition: var(--main-transition);
}
.FilterProducts .action button:hover {
  background-color: var(--blue-color);
  color: #fff;
  border: 2px solid var(--blue-color);
  border-left: 0;
}
.FilterProducts input:focus + button {
  background-color: var(--blue-color);
  color: #fff;
  outline: 0;
  border: 2px solid var(--blue-color);
  border-left: 0;
}
