/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Loading Fetch Data
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.LoadingFetchData {
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  color: var(--black-color);
  margin: 10px auto;
}
.LoadingFetchData .player {
  position: absolute;
  top: 0;
  left: 0;
}
.LoadingFetchData span {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  transition: var(--main-transition);
  background: linear-gradient(
    163deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(156, 150, 150) 40%,
    rgb(0, 51, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.LoadingFetchData span::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 5px solid var(--black-color);
  border-top-color: transparent;
  border-radius: 50%;
  animation: rotate 3s ease-in-out infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
