/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# ProductDetails
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ProductDetails {
  position: relative;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.ProductDetails .container {
  display: flex;
  gap: 20px;
}
@media (max-width: 776px) {
  .ProductDetails .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# ProductDetails left
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ProductDetails .container .left {
  position: relative;
  width: 50%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ProductDetails .container .left img {
  width: 100%;
  height: 450px;
  object-fit: contain;
  background-color: var(--white-color);
}

.ProductDetails .container .left .bottom {
  position: relative;
  width: 100%;
}
.ProductDetails .container .left .bottom img {
  width: 100%;
  height: 150px;
}
@media (max-width: 776px) {
  .ProductDetails .container .left {
    width: 100%;
  }
  .ProductDetails .container .left img {
    height: 250px;
  }
  .ProductDetails .container .left .bottom img {
    height: 100px;
  }
}

.ProductDetails .progress {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: var(--white-alt-1);
  border-radius: var(--main-border-radius);
  overflow: hidden;
  transition: var(--main-transition);
  margin: 10px 0;
}
.ProductDetails .progress .propress-per {
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--main-transition);
  background-color: var(--main-color);
  height: 100%;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# ProductDetails right
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ProductDetails .container .right {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.ProductDetails .container .right .box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 0;
}
.ProductDetails .container .right .box:not(:last-child) {
  border-bottom: 3px solid var(--white-alt-1);
}
.ProductDetails .container .right .box h2 {
  font-weight: bold;
  font-size: 25px;
}
.ProductDetails .container .right .box h3 {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}
.ProductDetails .container .right .box p {
  font-size: 14px;
}

.ProductDetails .container .right .box .color-box {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
}
.ProductDetails .container .right .box .color-box .color {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: bisque;
  cursor: pointer;
  transition: var(--main-transition);
}
.ProductDetails .container .right .box .color-box .color.active {
  outline: 1px solid #000;
  border: 5px solid #fff;
}
.ProductDetails .container .right .box .color-box .color.red {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 1) 50%,
    rgb(255, 160, 160) 50%
  );
}
.ProductDetails .container .right .box .color-box .color.black {
  background: linear-gradient(180deg, rgb(139, 139, 139) 50%, rgb(0, 0, 0) 50%);
}
.ProductDetails .container .right .box .color-box .color.green {
  background: linear-gradient(
    180deg,
    rgb(32, 87, 42) 50%,
    rgb(173, 173, 173) 50%
  );
}
.ProductDetails .container .right .box .color-box .color.gray {
  background: linear-gradient(
    180deg,
    rgb(222, 222, 222) 50%,
    rgb(173, 173, 173) 50%
  );
}
.ProductDetails .container .right .box .color-box .color.blue {
  background: linear-gradient(
    180deg,
    rgb(8, 69, 113) 50%,
    rgb(173, 173, 173) 50%
  );
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# ProductDetails right .counter-items
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ProductDetails .container .right .counter-items {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}
.ProductDetails .container .right .counter-items .counter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  border-radius: calc(var(--main-border-radius) * 5);
  background-color: var(--white-alt-1);
  overflow: hidden;
  font-weight: bold;
  font-size: 20px;
}
.ProductDetails .container .right .counter-items .counter .btnStyle {
  position: relative;
  width: 100%;
  border: 0;
  padding: 8px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  transition: var(--main-transition);
  border-radius: 0;
}
.ProductDetails .container .right .counter-items .counter .btnStyle:hover {
  background-color: var(--main-color);
  color: var(--white-alt-1);
}
.ProductDetails .container .right .counter-items p {
  font-size: 16px;
  width: 100%;
}
.ProductDetails .container .right .counter-items p span {
  color: #ffaa00;
  font-weight: bold;
}
.ProductDetails .container .right .counter-items .btnStyle {
  position: relative;
  width: 100%;
  padding: 10px 15px;
  border-radius: calc(var(--main-border-radius) * 5);
  border: 0;
  color: #000;
  transition: var(--main-transition);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
.ProductDetails .container .right .counter-items > .btnStyle:first-child {
  background-color: var(--main-color);
  color: var(--white-color);
}
.ProductDetails .container .right .counter-items .btnStyle:hover {
  background-color: var(--white-alt-2);
  color: var(--main-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# ProductDetails right box box
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ProductDetails .container .right .box .box-1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 20px;
  border: 3px solid var(--white-alt-1);
}
.ProductDetails .container .right .box .box-1 i {
  color: #ffaa00;
  font-size: 25px;
}
.ProductDetails .container .right .box .box-1 .data {
  position: relative;
  width: 100%;
}
.ProductDetails .container .right .box .box-1 .data h5 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.2px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# ProductDetails no product
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.No-ProductDetails {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
}
.No-ProductDetails .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.No-ProductDetails .No-item-player {
  width: 350px;
  height: 350px;
}
