/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../css/root.css");

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Not Founded
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.NotFounded {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
}
.NotFounded .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.NotFounded .container .palyer {
  width: 450px;
  height: 300px;
  max-width: 100%;
}
.NotFounded h4 {
  color: var(--black-color);
  font-size: 40px;
  margin: 0;
  text-align: center;
  font-weight: bold;
}
.NotFounded p {
  font-size: 18px;
  line-height: 1.7;
  margin: 10px;
  text-align: center;
}
.NotFounded p span {
  display: block;
}
.NotFounded .GobackBtn {
  margin: 10px 0;
  padding: 8px 15px;
  border-radius: 15px;
  border: 1px solid var(--blue-color);
  background-color: var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
  transition: var(--main-transition);
}
.NotFounded .GobackBtn:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}
