@import url("./normalize.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Root
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
:root {
  --main-transition: all 0.5s ease-in-out;
  --main-border-radius: 0.5rem;
  --main-padding-top: 50px;
  --main-padding-bottom: 50px;
  --main-color: #003d29;
  --white-color: #fff;
  --white-alt-1: #f5f6f6;
  --white-alt-2: #aaa;
  --blue-color: #2196f3;
  --blue-color-hover: #1787e0;
}
