/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Products
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Products {
  position: relative;
  width: 100%;
  padding-bottom: var(--main-padding-bottom);
}

.Products .container .cards-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.Products > .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Products header
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Products > .header {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #e1bbae;
}
.Products .header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.Products .header .container .data {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.Products .header .container .data img {
  position: relative;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.Products .header .container .data h5 {
  position: relative;
  font-size: 35px;
  text-align: center;
}

.Products .header .container .data button {
  position: relative;
  padding: 8px 15px;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1.5;
  border-radius: calc(var(--main-border-radius) * 5);
  background-color: var(--main-color);
  border: 0;
  color: var(--white-color);
}
@media (max-width: 772px) {
  .Products .header .container .data h5 {
    font-size: 20px;
  }
  .Products .header .container .data button {
    line-height: 1.2;
    padding: 5px 12px;
    font-size: 14px;
    letter-spacing: 1px;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Products nav-menu
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Products .container .nav-menu {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 10px;
}
.Products .container .nav-menu li span {
  position: relative;
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(var(--main-border-radius) * 5);
  border: 0.5px solid var(--white-alt-2);
  transition: var(--main-transition);
  color: #000;
  cursor: pointer;
}
.Products .container .nav-menu li span.active {
  background-color: #003d29;
  color: var(--white-color);
  border: 0.5px solid #003d29;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Todays Best Deals cards-container card
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Products .container .cards-container .card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  box-shadow: 5px 5px 5px 5px var(--white-alt-1);
  border-radius: var(--main-border-radius);
  cursor: pointer;
  padding: 20px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Todays Best Deals cards-container card header
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Products .container .cards-container .card .header {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: var(--main-border-radius);
}
.Products .container .cards-container .card .header img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
  object-fit: contain;
  overflow: hidden;
  background-color: transparent;
}

.Products .container .cards-container .card .header .icons {
  position: absolute;
  top: 15px;
  right: 0px;
  font-size: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  gap: 15px;
  color: var(--white-alt-2);
  padding: 5px;
  width: 100%;
  height: fit-content;
  transition: var(--main-transition);
}
.Products .container .cards-container .card .header .icons i {
  transition: var(--main-transition);
}
.Products .container .cards-container .card .header .icons i:hover {
  color: #ff0000;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Todays Best Deals cards-container card footer
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Products .container .cards-container .card .footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.Products .container .cards-container .card .footer > span {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
  transition: var(--main-transition);
  width: 100%;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Todays Best Deals cards-container card footer counter
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Products .container .cards-container .card .footer .counter {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: var(--white-color);
  padding: 0 0 20px 0;
}
.Products .container .cards-container .card .footer .counter button {
  background-color: transparent;
  width: fit-content;
  padding: 1px 8px;
  text-align: center;
  border-radius: var(--main-border-radius);
  border: 1px solid var(--white-alt-2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--main-transition);
  font-size: 22px;
}
.Products .container .cards-container .card .footer .counter button:hover {
  background-color: #ff0000;
  color: #fff;
  border: 1px solid #fff;
}
.Products .container .cards-container .card .footer .counter p {
  width: fit-content;
}
.Products .container .cards-container .card .footer .counter p span {
  color: #ffb700;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Todays Best Deals cards-container card footer button-box
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Products .container .cards-container .card .footer .button-box > span.Price {
  position: relative;
  padding: 0 25px 0 15px;
  font-weight: bold;
  width: fit-content;
  color: #003d29;
  width: fit-content;
}
.Products
  .container
  .cards-container
  .card
  .footer
  .button-box
  > span.Price::before {
  content: " .00";
  position: absolute;
  top: -1px;
  right: 5px;
  font-size: 14px;
  font-weight: normal;
}
.Products
  .container
  .cards-container
  .card
  .footer
  .button-box
  > span.Price::after {
  position: absolute;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\24";
  top: -1px;
  left: 0px;
  font-size: 14px;
  font-weight: normal;
}

.Products .container .cards-container .card .footer .button-box button {
  position: relative;
  width: fit-content;
  padding: 8px 8px;
  border-radius: var(--main-border-radius);
  background-color: #003d29;
  color: var(--white-color);
  transform: var(--main-transition);
  border: 0;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}
.Products .container .cards-container .card .footer .button-box button.active {
  background-color: #ff0000;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Todays Best Deals cards-container card footer des
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Products .container .cards-container .card .footer p {
  position: relative;
  font-size: 16px;
  width: 100%;
  line-height: 1.2;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Todays Best Deals cards-container card footer stars
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Products .container .cards-container .card .footer .stars {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  margin: 10px 0;
  width: 100%;
}

.Products .container .cards-container .card .footer .stars i {
  color: #ffb700;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Todays Best Deals cards-container card footer button
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Products .container .cards-container .card .footer .button-box {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: transparent;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # seemore
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.see-more {
  position: relative;
  width: fit-content;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.see-more button {
  position: relative;
  width: 100%;
  padding: 8px 15px;
  transition: var(--main-transition);
  border: 0;
  cursor: pointer;
  border-radius: var(--main-border-radius);
  background-color: #003d29;
  color: var(--white-color);
}
