/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Products
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Products {
  position: relative;
  width: 100%;
  padding-bottom: var(--main-padding-bottom);
}

.Products .container .cards-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.Products > .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Products header
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Products > .header {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #e1bbae;
}
.Products .header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.Products .header .container .data {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.Products .header .container .data img {
  position: relative;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.Products .header .container .data h5 {
  position: relative;
  font-size: 35px;
  text-align: center;
}

.Products .header .container .data button {
  position: relative;
  padding: 8px 15px;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1.5;
  border-radius: calc(var(--main-border-radius) * 5);
  background-color: var(--main-color);
  border: 0;
  color: var(--white-color);
}
@media (max-width: 772px) {
  .Products .header .container .data h5 {
    font-size: 20px;
  }
  .Products .header .container .data button {
    line-height: 1.2;
    padding: 5px 12px;
    font-size: 14px;
    letter-spacing: 1px;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Products nav-menu
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Products .container .nav-menu {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 10px;
}
.Products .container .nav-menu li span {
  position: relative;
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(var(--main-border-radius) * 5);
  border: 0.5px solid var(--white-alt-2);
  transition: var(--main-transition);
  color: #000;
  cursor: pointer;
}
.Products .container .nav-menu li span.active {
  background-color: #003d29;
  color: var(--white-color);
  border: 0.5px solid #003d29;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Todays Best Deals cards-container card
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Products .container .cards-container .card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 19px 19px 29px -6px rgba(0, 61, 41, 0.31);
  border-radius: var(--main-border-radius);
  cursor: pointer;
  overflow: hidden;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Todays Best Deals cards-container card header
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Products .container .cards-container .card .header {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #ffffff;
  padding: 20px;
}
.Products .container .cards-container .card .header::before {
  position: absolute;
  content: "";
  background-color: var(--main-color);
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50px;
  border-radius: 0;
  z-index: 1;
  transform: skewY(-8deg);
  transform-origin: bottom right;
  transition: var(--main-transition);
  opacity: 0.7;
}
.Products .container .cards-container .card .header::after {
  position: absolute;
  content: "";
  background-color: var(--main-color);
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50px;
  border-radius: 0;
  z-index: 1;
  transform: skewY(8deg);
  transform-origin: bottom left;
  transition: var(--main-transition);
  opacity: 0.7;
}
.Products .container .cards-container .card .header img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
  object-fit: contain;
  background-color: transparent;
  overflow: hidden;
}
.Products .container .cards-container .card:hover .header img {
  transform: scale(1.1);
}
.Products .container .cards-container .card .header .icons {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  gap: 15px;
  color: var(--white-alt-2);
  padding: 5px;
  width: 100%;
  height: fit-content;
  transition: var(--main-transition);
}
.Products .container .cards-container .card .header .icons i {
  transition: var(--main-transition);
}
.Products .container .cards-container .card .header .icons i:hover {
  color: #ff0000;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Todays Best Deals cards-container card footer
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Products .container .cards-container .card .footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  background-color: var(--main-color);
  padding: 20px;
}
.Products .container .cards-container .card .footer .info-box {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  background-color: var(--main-color);
}
.Products .container .cards-container .card .footer .info-box > span {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  color: var(--white-color);
  transition: var(--main-transition);
  width: 100%;
}
.Products .container .cards-container .card .footer .info-box i {
  color: #47c20a;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Todays Best Deals cards-container card footer button-box
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Products .container .cards-container .card .footer .action-price {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.Products .container .cards-container .card .footer .action-price > span.Price {
  position: relative;
  padding: 0 15px;
  font-weight: bold;
  width: fit-content;
  color: var(--white-alt-1);
  width: fit-content;
  font-size: 35px;
}

.Products .container .cards-container .card .footer .action-price::after {
  position: absolute;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\24";
  left: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #47c20a;
}

.Products .container .cards-container .card .footer button {
  position: relative;
  width: 35px;
  height: 35px;
  background-color: var(--white-color);
  color: var(--white-alt-2);
  transform: var(--main-transition);
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  transition: var(--main-transition);
  border-radius: var(--main-border-radius);
}
.Products .container .cards-container .card .footer button.active {
  color: var(--white-color);
  background-color: #47c20a;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # seemore
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.see-more {
  position: relative;
  width: fit-content;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.see-more button {
  position: relative;
  width: 100%;
  padding: 8px 15px;
  transition: var(--main-transition);
  border: 0;
  cursor: pointer;
  border-radius: var(--main-border-radius);
  background-color: #003d29;
  color: var(--white-color);
}
