/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Cart
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Cart {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  width: 100%;
  transition: var(--main-transition);
}
.Cart .container {
  display: flex;
  gap: 15px;
}
@media (max-width: 992px) {
  .Cart .container {
    flex-direction: column;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Cart left
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Cart .container .left {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: var(--main-transition);
}
.Cart .container .left h3 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 25px;
  transition: var(--main-transition);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Cart left product-details 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Cart .container .left .product-details {
  position: relative;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid var(--white-alt-1);
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
}

.Cart .container .left .product-details .info {
  position: relative;
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: transparent;
}

.Cart .container .left .product-details img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  background-color: var(--white-color);
  border-radius: var(--main-border-radius);
}
.Cart .container .left .product-details .info .data h4 {
  position: relative;
  font-size: 22px;
  width: fit-content;
}
.Cart .container .left .product-details .price {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
}
.Cart .container .left .product-details .price h2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin: 0;
  font-size: 20px;
  font-weight: 550;
}

.Cart .container .left .product-details .price h2 i {
  position: relative;
  padding: 8px;
  color: var(--main-color);
  border-radius: var(--main-border-radius);
  background-color: var(--white-alt-1);
  transition: var(--main-transition);
  font-size: 14px;
  cursor: pointer;
}
.Cart .container .left .product-details .price h2 i:hover {
  background-color: #ff0000;
  color: var(--white-color);
}
@media (max-width: 992px) {
  .Cart .container .left .product-details img {
    width: 35px;
    height: 35px;
  }
  .Cart .container .left .product-details .info .data h4 {
    font-size: 16px;
    font-weight: 600;
  }
  .Cart .container .left .product-details .price h2 {
    font-size: 14px;
  }
}
.Cart .container .left .product-details .price p {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--white-alt-1);
  border-radius: var(--main-border-radius);
  overflow: hidden;
  font-size: 14px;
}
.Cart .container .left .product-details .price p button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: var(--main-transition);
}
.Cart .container .left .product-details .price p button:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
#  No-data-inCart
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.No-data-inCart {
  position: relative;

  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.No-data-inCart .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.No-data-inCart .No-item-player {
  width: 350px;
  height: 350px;
}
.No-data-inCart p {
  font-size: 18px;
  font-weight: bold;
}
