/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Root
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# info
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.info {
  position: relative;
  width: 100%;
  background-color: var(--main-color);
  padding: 10px 0;
}
.info i {
  color: var(--white-color);
  font-size: 12px;
}
.info .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
@media (max-width: 776px) {
  .info .container {
    flex-direction: column;
  }
  .info .container .content.d-none {
    display: none;
  }
}
.info .container .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 10px;
}
.nav-bar .container .togle-menu {
  display: none;
}
.info .container .content p {
  color: var(--white-color);
  cursor: pointer;
  font-size: 12px;
}
.info .container .content .DropDown {
  position: relative;
  width: 100%;
  color: var(--white-color);
  cursor: pointer;
  transition: var(--main-transition);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.info .container .content .DropDown span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}
.info .container .content .DropDown .list {
  display: none;
  top: 100%;
  right: 0;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 0;
  z-index: 1;
  transition: var(--main-transition);
  border-radius: var(--main-border-radius);
}

.info .container .content .DropDown .list li {
  position: relative;
  padding: 10px 15px;
  color: var(--main-color);
  display: block;
  transition: var(--main-transition);
  font-weight: bold;
}
.info .container .content .DropDown .list li:not(:last-child) {
  border-bottom: 0.1px solid var(--blue-color);
}
.info .container .content .DropDown:hover .list {
  display: block;
}
.info .container .content .DropDown .list li:hover {
  color: var(--main-color);
  background-color: var(--white-alt-2);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# navbar
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.nav-bar {
  position: relative;
  width: 100%;
  background-color: #f9f9f9;
  height: 60px;
}
.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.nav-bar .container .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: var(--main-transition);
}
.nav-bar .container .content img {
  width: 120px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# navbar menu
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.nav-bar .container .content ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.nav-bar .container .content ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  height: 80px;
  padding: 5px 8px;
  font-weight: 600;
}
.nav-bar .container .content ul li a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0px;
  bottom: 20px;
  background-color: var(--blue-color);
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
  transform-origin: bottom left;
}
.nav-bar .container .content ul li.Dropdown:hover a::before,
.nav-bar .container .content ul li.Dropdown.active a::before {
  width: 100%;
  height: 3px;
}
.nav-bar .container .content ul li.mob-des {
  display: none;
}
@media (max-width: 772px) {
  .nav-bar .container .content ul li.mob-des {
    display: flex;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# navbar menu dropdown
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.nav-bar .container .content ul li.Dropdown {
  position: relative;
}
.nav-bar .container .content ul li.Dropdown .other-links {
  position: absolute;
  min-width: 750px;
  top: -1005%;
  background-color: var(--white-color);
  padding: 30px;
  border-radius: var(--main-border-radius);
  opacity: 0;
  z-index: -1;
  transition: var(--main-transition);
}
.nav-bar .container .content ul li.Dropdown .other-links.active {
  top: 105%;
  opacity: 1;
  z-index: 9999;
}
.nav-bar .container .content ul li.Dropdown .other-links .header {
  color: #000;
  font-size: 14px;
  padding: 15px 0;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.nav-bar .container .content ul li.Dropdown .other-links .body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  gap: 10px;
  margin-top: 10px;
}

.nav-bar .container .content ul li.Dropdown .other-links .body .box {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--white-alt-1);
  border-radius: var(--main-border-radius);
  padding: 5px 8px;
}
.nav-bar .container .content ul li.Dropdown .other-links .body .box .left img {
  width: 50px;
  height: 100%;
  background-color: var(--white-color);
  border-radius: var(--main-border-radius);
}
.nav-bar .container .content ul li.Dropdown .other-links .body .box .right h1 {
  font-size: 18px;
  transition: var(--main-transition);
  cursor: pointer;
}
.nav-bar
  .container
  .content
  ul
  li.Dropdown
  .other-links
  .body
  .box
  .right
  h1:hover {
  color: var(--blue-color);
}
.nav-bar .container .content ul li.Dropdown .other-links .body .box .right p {
  position: relative;
  display: flex;
  width: 100%;
  gap: 10px;
  font-weight: bold;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# navbar inpur search
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.nav-bar .container .content input {
  position: relative;
  width: 350px;
  padding: 4px 15px;
  border-radius: calc(var(--main-border-radius) * 3);
  border: 0.5px solid #888;
  height: 100%;
  transition: var(--main-transition);
}
.nav-bar .container .content input:focus {
  outline: 0;
}
.nav-bar .container .content input:focus::placeholder {
  opacity: 0;
  transition: var(--main-transition);
}
.nav-bar .container .content input + i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: var(--main-transition);
}
.nav-bar .container .content input + i:hover {
  color: var(--blue-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# navbar inpur search
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.nav-bar .container .content > a {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-bar .container .content > a i {
  color: var(--white-alt-2);
  transition: var(--main-transition);
}
.nav-bar .container .content > a:hover i {
  color: var(--main-color);
}
@media (max-width: 992px) {
  .nav-bar .container .content.d-none {
    display: none;
  }
}
@media (max-width: 776px) {
  .nav-bar .container .content.d-none2 {
    display: none;
  }
}
@media (max-width: 776px) {
  .nav-bar .container .togle-menu {
    display: block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    color: var(--main-color);
    width: 35px;
    height: 35px;
    border-radius: var(--main-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-bar .container .content.d-ap-mob {
    position: absolute;
    right: 0px;
    z-index: 55;
    top: -110%;
    width: 100%;
    display: block;
    transition: var(--main-transition);
    opacity: 0;
    z-index: -1;
  }
  .nav-bar .container .content.d-ap-mob.active {
    top: 105%;
    z-index: 999;
    opacity: 1;
    transition: var(--main-transition);
  }
  .nav-bar .container .content.d-ap-mob ul {
    position: relative;
    padding: 10px;
    min-width: calc(100% - 15px);
    background-color: var(--white-color);
    flex-direction: column;
    border-radius: calc(var(--main-border-radius) * 2);
    gap: 5px;
    transition: var(--main-transition);

    box-shadow: 0px 0px 15px 2px var(--white-alt-2);
  }
  .nav-bar .container .content.d-ap-mob ul li {
    width: 100%;
    padding: 0;
    transition: var(--main-transition);
  }
  .nav-bar .container .content.d-ap-mob ul li a {
    width: 100%;
    height: 40px;
    padding: 5px 0;
    font-weight: 500;
    font-family: "Inter";
  }
  .nav-bar .container .content.d-ap-mob ul li a::before {
    top: 80%;
  }
  .nav-bar .container .content.d-ap-mob ul li.Dropdown .other-links {
    position: relative;
    max-width: 100%;
    min-width: 100%;
    display: none;
  }
  .nav-bar .container .content.d-ap-mob ul li.Dropdown .other-links.active {
    display: block;
  }
  .nav-bar .container .content ul li.Dropdown .other-links .body {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
