/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Root
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Todays Best Deals
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.TodaysBestDeals {
  position: relative;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.TodaysBestDeals .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.TodaysBestDeals h1 {
  font-family: "Dosis", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.TodaysBestDeals .container .nav-menu {
  position: relative;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
}
.TodaysBestDeals .container .nav-menu li span {
  position: relative;
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(var(--main-border-radius) * 5);
  border: 0.5px solid var(--white-alt-2);
  transition: var(--main-transition);
  color: #000;
  cursor: pointer;
}
.TodaysBestDeals .container .nav-menu li span.active {
  background-color: #003d29;
  color: var(--white-color);
  border: 0.5px solid #003d29;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Todays Best Deals cards-container
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.TodaysBestDeals .container .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}
