/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Root
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Todays Best Deals
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.TodaysBestDeals {
  position: relative;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.TodaysBestDeals .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.TodaysBestDeals h1 {
  font-family: "Dosis", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.TodaysBestDeals .container .nav-menu {
  position: relative;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
}
.TodaysBestDeals .container .nav-menu li span {
  position: relative;
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(var(--main-border-radius) * 5);
  border: 0.5px solid var(--white-alt-2);
  transition: var(--main-transition);
  color: #000;
  cursor: pointer;
}
.TodaysBestDeals .container .nav-menu li span.active {
  background-color: #003d29;
  color: var(--white-color);
  border: 0.5px solid #003d29;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Todays Best Deals cards-container
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.TodaysBestDeals .container .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Todays Best Deals cards-container card
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.TodaysBestDeals .container .cards-container .card {
  position: relative;
  width: 100%;
  cursor: pointer;
}
.TodaysBestDeals .container .cards-container .card .header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--main-border-radius);
  overflow: hidden;
  background-color: var(--white-alt-1);
}
.TodaysBestDeals .container .cards-container .card .header img {
  position: relative;
  width: 250px;
  height: 250px;
  transition: var(--main-transition);
}
.TodaysBestDeals .container .cards-container .card:hover img {
  transform: scale(1.3);
}
.TodaysBestDeals .container .cards-container .card .header i {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
  transition: var(--main-transition);
}
.TodaysBestDeals .container .cards-container .card .header i:hover {
  background-color: #ff000082;
  color: #fff;
}
.TodaysBestDeals .container .cards-container .card .footer {
  position: relative;
  padding: 10px 0;
}
.TodaysBestDeals .container .cards-container .card .footer .info {
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TodaysBestDeals .container .cards-container .card .footer .info span {
  position: relative;
  font-size: 18px;
  font-weight: bold;
}
.TodaysBestDeals .container .cards-container .card .footer .info span.Price {
  position: relative;
  padding: 0 25px 0 15px;
  font-weight: bold;
  width: fit-content;
}
.TodaysBestDeals
  .container
  .cards-container
  .card
  .footer
  .info
  span.Price::before {
  content: " .00";
  position: absolute;
  top: -1px;
  right: 5px;
  font-size: 14px;
  font-weight: normal;
}
.TodaysBestDeals
  .container
  .cards-container
  .card
  .footer
  .info
  span.Price::after {
  position: absolute;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\24";
  top: -1px;
  left: 0px;
  font-size: 14px;
  font-weight: normal;
}
.TodaysBestDeals .container .cards-container .card .footer p {
  position: relative;
  font-size: 14px;
  margin: 10px 0;
}

.TodaysBestDeals .container .cards-container .card .footer button {
  position: relative;
  border-radius: calc(var(--main-border-radius) * 5);
  padding: 8px 15px;
  border: 0.5px solid #888;
  cursor: pointer;
  transition: var(--main-transition);
  background-color: transparent;
}
.TodaysBestDeals .container .cards-container .card .footer button:hover {
  background-color: #47c20a;
  border: 0.5px solid #47c20a;
  color: #fff;
}
