/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Root
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Top Categories
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.TopCategories {
  position: relative;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.TopCategories .container h1 {
  font-family: "Dosis", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.TopCategories .container .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
@media (max-width: 776px) {
  .TopCategories .container .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 0.5fr));
    gap: 20px;
    margin-top: 30px;
  }
}
.TopCategories .container .cards-container .card {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: transparent;
  border-radius: var(--main-border-radius);
  overflow: hidden;
  cursor: pointer;
}
.TopCategories .container .cards-container .card img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: var(--main-transition);
}
.TopCategories .container .cards-container .card h5 {
  position: relative;
  z-index: 5;
  color: #fff;
  font-size: 25px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;

  font-family: "Dosis", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.TopCategories .container .cards-container .card:hover img {
  transform: scale(1.3);
}
