/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Login
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--white-alt-1);
}
.login .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  padding: 10px;
  background-color: #ffffff9d;
  backdrop-filter: blur(15px);
  min-height: 350px;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
  z-index: 2;
}
.login .clippath {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  clip-path: circle(80.3% at 97% 3%);
}
.login .card .card-input {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}
.login .card .card-input label {
  color: var(--main-color);
  cursor: pointer;
  padding: 0px 8px;
  font-size: 18px;
}
.login .card .card-input input {
  width: 100%;
  padding: 5px 8px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--white-alt-1);
  cursor: pointer;
  transition: var(--main-transition);
}
.login .card .card-input input:focus {
  outline: 0;
}
.login .card .card-input input:focus::placeholder {
  opacity: 0;
  transition: var(--main-transition);
}
.login .card button {
  position: relative;
  width: 100%;
  border: 0;
  background-color: var(--main-color);
  color: var(--white-alt-1);
  transition: var(--main-transition);
  padding: 4px 8px;
  border-radius: var(--main-border-radius);
  cursor: pointer;
}
.login .card button:hover {
  background-color: var(--white-alt-1);
  color: var(--main-color);
}
