/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Register
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Register {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  height: calc(100vh - 60px);
}

@media (max-width: 992px) {
  .Register {
    flex-direction: column;
    height: auto;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Register left
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Register .left {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 40px 20px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.Register .left::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  box-shadow: 0 0 500px #e4ac29, 0 0 5000px #e4ac29;
  background-color: #e4ac29;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  filter: blur(150px);
}
.Register .left img {
  position: relative;
  width: 100%;
  height: 400px;
  object-fit: contain;
  z-index: 1;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Register Right
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Register .right {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.Register .card {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 450px;
  transition: var(--main-transition);
  overflow-x: hidden;
  padding: 20px;
}
.Register .card h1 {
  position: relative;
  font-size: 40px;
  color: var(--blue-color);
}
.Register .card > p {
  position: relative;
  margin-bottom: 30px;
  color: var(--main-color);
}
.Register .card .card-flex {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.Register .card .card-flex label {
  font-weight: bold;
  text-wrap: nowrap;
  color: var(--main-color);
}
.Register .card .card-input {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.Register .card .card-input label {
  font-weight: bold;
  text-wrap: nowrap;

  color: var(--main-color);
}
.Register .card .card-input input {
  width: 100%;
  padding: 15px 8px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #e7e6e5;
  transition: var(--main-transition);
}
.Register .card .card-input input:focus {
  outline: 0;
}
.Register .card .card-input input:focus::placeholder {
  opacity: 0;
  transition: var(--main-transition);
}
.Register .card > button {
  position: relative;
  width: 100%;
  border: 0;
  background-color: var(--blue-color);
  color: var(--white-color);
  margin: 20px 0;
  padding: 12px 8px;
  border-radius: var(--main-border-radius);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  transition: var(--main-transition);
}
.Register .card button:hover {
  background-color: var(--blue-color-hover);
}
.Register .card .card-input .error {
  position: relative;
  color: red;
  cursor: pointer;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Register Right error Message
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Register .card .card-input .error .Message {
  position: absolute;
  min-width: fit-content;
  text-wrap: nowrap;
  padding: 10px;
  background-color: #e7e6e5;
  font-size: 14px;
  top: -60px;
  right: 0px;
  opacity: 0;
  z-index: -99;
  transition: var(--main-transition);
  color: var(--main-color);
  border-radius: var(--main-border-radius);
}
.Register .card .card-input .error .Message::before {
  position: absolute;
  content: "";
  border-width: 10px;
  right: 2px;
  top: 97%;
  border-color: #e7e6e5 transparent transparent transparent;
  border-style: solid;
}
.Register .card .card-input .error:hover .Message {
  opacity: 1;
  z-index: 2;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Register Right See password
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Register .card .See-password {
  position: relative;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.Register .card .See-password > input {
  display: none;
}
.Register .card .See-password > label {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  font-weight: 450;
}
.Register .card .See-password > label::before {
  position: absolute;
  content: "\f06e";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  left: 0;
  color: #e7e6e5;
  border: 1px solid #e7e6e5;
  border-radius: 1px;
}
.Register .card .See-password > label::after {
  position: absolute;
  content: "\f070";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-color);
  top: 1px;
  width: 20px;
  height: 20px;
  left: 0.5px;
  border-radius: 1px;
  transform: scale(0) rotate(360deg);
  transition: var(--main-transition);
  border: 1px solid var(--blue-color);
}
.Register .card .See-password > input:checked + label::after {
  transform: scale(1);
}
