/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Register
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Register {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 100vh;
  height: 100vh;
}

@media (max-width: 992px) {
  .Register {
    flex-direction: column;
    height: auto;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Register left
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Register .left {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 40px 20px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.Register .left::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  box-shadow: 0 0 500px #e4ac29, 0 0 5000px #e4ac29;
  background-color: #e4ac29;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  filter: blur(150px);
}
.Register .left h1 {
  color: var(--main-color);
  font-size: 56px;
  z-index: 1;
}
.Register .left p {
  color: var(--main-color);
  font-size: 18px;
  z-index: 1;
}
.Register .left img {
  position: relative;
  width: 100%;
  height: 400px;
  object-fit: contain;
  z-index: 1;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Register Right
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Register .right {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.Register .card {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 450px;
  transition: var(--main-transition);
  overflow-x: hidden;
  border: 1px solid #e7e6e5;
  padding: 20px;
}
.Register .card h1 {
  position: relative;
  font-size: 40px;
  color: var(--main-color);
}
.Register .card > p {
  position: relative;
  margin-bottom: 30px;
  color: var(--main-color);
}
.Register .card .card-input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-bottom: 1px solid #e7e6e5;
}
.Register .card .card-input label {
  font-weight: bold;
  text-wrap: nowrap;
  min-width: 60px;
  color: var(--main-color);
}
.Register .card .card-input input {
  width: 100%;
  padding: 5px 8px;
  background-color: transparent;
  border: 0;

  transition: var(--main-transition);
}
.Register .card .card-input input:focus {
  outline: 0;
}
.Register .card .card-input input:focus::placeholder {
  opacity: 0;
  transition: var(--main-transition);
}
.Register .card > button {
  position: relative;
  width: 100%;
  border: 0;
  margin: 20px 0;
  background-color: #ffbb21;
  color: var(--white-alt-1);
  transition: var(--main-transition);
  padding: 12px 8px;
  border-radius: var(--main-border-radius);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.Register .card button:hover {
  background-color: #e4ac29;
}

.Register .card .card-register {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
